@model ManageCustomersModel
@{
    ViewData["Title"] = "ManageCustomers";
    ViewData.AddActivePage(ManageNavPages.ManageCustomers);
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <ul>
                    @for (int i = 0; i < Model.Customers.Count; i++)
                    {
                        <li>
                            <input asp-for="@Model.Customers[i].Id" hidden="" />
                            @Model.Customers[i].Name
                        </li>
                    }
                </ul>
            </div>
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
